<html>
<head>
	<title>Tenantry.Net</title>
	<link href="/css/reset.css" rel="stylesheet" type="text/css">
	<link href="/css/base.css" rel="stylesheet" type="text/css">
	<script type="text/javascript" src="/js/jquery-1.6.min.js"></script>
	{% block stylesheets %}
	{% endblock %}
	{% block style %}
	{% endblock %}
	{% block extraStyle %}
	{% endblock %}
	{% block scripts %}
	{% endblock %}
</head>
<body>
<div id="wrapper">
	<header>
		<div id="logo"></div>
		{% block afterLogo %}
		{% endblock %}
		<div id="top-right">
		{% block topRight %}
			<li><a href="/register/"><strong>Register</strong></a>&nbsp;|&nbsp;</li>
			<li><a href="/help/"><strong>Help</strong></a>&nbsp;|&nbsp;</li>
			<li><a href="/login/"><strong>Login</strong></a></li>
		{% endblock %}
			<br />
			<div id="search">
				<input type="text" />&nbsp;<input type="submit" value="Search" />
			</div>

		</div>
	</header>
	<div id="content">
	{% block nav %}
		<nav>
		</nav>
	{% endblock %}
		<div id="main" class="clearfix">
			{% block contentMain %}
			{% endblock %}
		</div>
		{% block rightBar %}
		{% endblock %}	
	</div>
	<!-- content -->

	<footer>
		{% block footer %}
		{% endblock %}
	</footer>
</div>
<!-- wrapper -->
<script type="text/javascript">
{% block endScripts %}
{% endblock %}
</script>
</body>
</html>